In [3]:
import numpy as np
Vize = [70, 90, 45, 68, 32]
Final = [40,72, 66, 91, 83]

Vize_np = np.array(Vize)
Final_np = np.array(Final)

Ortalama = (Vize_np + Final_np)/2
print(Ortalama)

[55.  81.  55.5 79.5 57.5]

In [5]:
import numpy as np
Vize = [70, 90, 45, 68, 32]
Final = [40,72, 66, 91, 83]

Vize_np = np.array(Vize)
Final_np = np.array(Final)

Ortalama = (Vize_np + Final_np)/2
print(Ortalama/5)

[11.  16.2 11.1 15.9 11.5]

In [6]:
import numpy as np

# 2 boyutlu bir numpy dizisi oluşturma
my_array = np.array([[1, 2, 3], [4, 5, 6]])
print(my_array)

[[1 2 3]
 [4 5 6]]

In [7]:
import numpy as np
arr = np.array([55, 81, 55.5, 79.5, 57.5])
max_value = np.amax(arr)
print(max_value)

81.0

In [11]:
import numpy as np
Türkçe = np.array([55, 80, 49, 60, 77])
Matematik = np.array([35, 48, 99, 82, 67])
Tarih = np.array([45, 72, 80, 63, 25])

max_value_Tü = np.amax(Türkçe)
max_value_Ma = np.amax(Matematik)
max_value_Ta = np.amax(Tarih)
print(max_value_Tü, max_value_Ma, max_value_Ta)

80 99 80

In [14]:
import pandas as pd
my_list = [1, 2, 3, 4, 5]
my_Series = pd.Series(my_list)
print(my_list)

[1, 2, 3, 4, 5]

In [15]:
import pandas as pd

my_dict = {"name":["Ali", "Veli", "Ahmet"], "age": [25, 30, 35]}
my_dataframe = pd.DataFrame(my_dict)
print(my_dataframe)

    name  age
0    Ali   25
1   Veli   30
2  Ahmet   35

In [19]:
import pandas as pd

my_dataframe = pd.read_excel("C:\\Users\\BT-101\\Desktop\\data.xlsx")
print(my_dataframe)

    Sıra No     Adı    Soyadı  Sınıfı  Numarası
0         1   Ahmet     Güzel      10        45
1         2  Mehmet  Çalışkan      10        56
2         3     Ali     Temiz      11        78
3         4    Veli     Titiz      11        34
4         5    Ayşe     Cesur      11        88
5         6   Fatma    Dürüst      12        33
6         7     Ali     Titiz      12        98
7         8   Ahmet     Cesur       9        99
8         9   Fatma  Çalışkan       9        77
9        10    Seda     Yiğit       9        22
10       11   Merve     Yiğit      10        36
11       12   Hasan     Cesur      10        68
12       13  Mehmet     Yiğit      11        79
13       14     Ali     Cesur      12        24
14       15    Ayşe     Güzel      12        18

In [22]:
import seaborn as sns
iris = sns.load_dataset("iris")
print(iris.head())

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [28]:
import pandas as pd

my_movies = pd.read_csv("C:\\Users\\BT-101\\Desktop\\movies.csv")
print(my_movies)

                                           Title  Rating  Year     Month  \
0                       Avatar: The Way of Water     7.8  2022  December
1                 Guillermo del Toro's Pinocchio     7.6  2022  December
2                                   Bullet Train     7.3  2022    August
3                      The Banshees of Inisherin     7.8  2022  November
4                                          M3gan     6.4  2022  December
...                                          ...     ...   ...       ...
1995                       A Tale of Two Sisters     7.1  2003      June
1996  Lara Croft Tomb Raider: The Cradle of Life     5.5  2003      July
1997                                     Gothika     5.8  2003  November
1998                   Ong-Bak: The Thai Warrior     7.1  2003  February
1999                                  Open Water     5.8  2003    August

     Certificate Runtime                           Directors  \
0          PG-13     192                       James Cameron
1             PG     117  Guillermo del Toro, Mark Gustafson
2              R     127                        David Leitch
3              R     114                     Martin McDonagh
4          PG-13     102                    Gerard Johnstone
...          ...     ...                                 ...
1995           R     114                        Jee woon Kim
1996       PG-13     117                         Jan de Bont
1997           R      98                   Mathieu Kassovitz
1998           R     105                     Prachya Pinkaew
1999           R      79                        Chris Kentis

                                                  Stars  \
0     Sam Worthington, Zoe Saldana, Sigourney Weaver...
1     Ewan McGregor, David Bradley, Gregory Mann, Bu...
2     Brad Pitt, Joey King, Aaron Taylor Johnson, Br...
3     Colin Farrell, Brendan Gleeson, Kerry Condon, ...
4     Jenna Davis, Amie Donald, Allison Williams, Vi...
...                                                 ...
1995  Lim Soo jung, Yum Jung ah, Kim Kap su, Moon Ge...
1996  Angelina Jolie, Gerard Butler, Chris Barrie, C...
1997  Halle Berry, Pen lope Cruz, Robert Downey Jr ,...
1998  Tony Jaa, Phetthai Vongkumlao, Pumwaree Yodkam...
1999  Blanchard Ryan, Daniel Travis, Saul Stein, Mic...

                           Genre Filming_location         Budget  \
0     Action, Adventure, Fantasy      New Zealand  $350,000,000
1       Animation, Drama, Family              USA   $35,000,000
2       Action, Comedy, Thriller            Japan   $85,900,000
3                  Comedy, Drama          Ireland        Unknown
4       Horror, Sci-Fi, Thriller      New Zealand   $12,000,000
...                          ...              ...            ...
1995      Drama, Horror, Mystery      South Korea        Unknown
1996  Action, Adventure, Fantasy           Greece   $95,000,000
1997   Horror, Mystery, Thriller           Canada   $40,000,000
1998     Action, Crime, Thriller         Thailand        Unknown
1999    Adventure, Drama, Horror          Bahamas      $500,000

               Income                                  Country_of_origin
0     $2,267,946,983                                       United States
1           $108,967                       United States, Mexico, France
2       $239,268,602                                Japan, United States
3        $19,720,823              Ireland, United Kingdom, United States
4       $171,253,910                                       United States
...               ...                                                ...
1995      $1,062,878                                         South Korea
1996    $160,099,222   United States, Germany, Japan, United Kingdom,...
1997    $141,591,324                United States, France, Canada, Spain
1998     $20,235,426                         Thailand, France, Hong Kong
1999     $54,683,487                                       United States

[2000 rows x 13 columns]

In [30]:
iris = sns.load_dataset("iris")
sns.load_dataset(iris["sepal_lenght"], shade=true)
plt.show()

KeyError: 'sepal_lenght'